fastapi==0.126.0
uvicorn==0.39.0
python-multipart==0.0.20
websockets==15.0.1
psutil==7.1.3
pydantic-settings
modelscope==1.33.0
funasr
torch==2.8.0
torchaudio==2.8.0
numpy==1.26.4
scipy
datasets==2.21.0
pyarrow==21.0.0
addict
oss2
onnxruntime
soundfile